<div class="container-fluid text-center">   
  <div  ng-repeat="obj in data.nearby_restaurants">
    <a href="#/restaurant-details/{{obj.restaurant.R.res_id}}">
      <div class="row cont">
        <div class="col-sm-3">
            <img class="restaurant-icon" ng-src="{{obj.restaurant.featured_image}}">
        </div>
        <div class="col-sm-6 text-left"> 
          <h2>{{obj.restaurant.name}}</h2>
          <span uib-rating ng-model="obj.restaurant.user_rating.aggregate_rating" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </div>
        <div class="col-sm-3 sidenav">
            <pre style="margin:15px 0;">Rating: <b>{{obj.restaurant.user_rating.aggregate_rating}}</b></pre>
        </div>
      </div>
    </a>
  </div>
</div>