/** APP SCSS */
/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    .row.cont {
        height: 150px;
        padding-top: 20px;
    }
    .row.data{
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        
    }
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    .main-background{
        background-image:url('../img/gallery-img2.jpg');
        background-size: cover;
        height: 500px;
        
    }

.long-bar{
    height: 50px;
    background-color: beige;
    font-size: 18px;
    font-family: sans-serif;
    padding: 14px;   
}

.btn-transparent {
        background-color: Transparent;
        border-color: lightgray;
        border-width: 2px;
        color:lightgray;
        
  }

.btn-transparent:hover {
    background-color: lightgray;
}

.restaurant-icon{
    width:200px;
}

.restaurant-img{
    text-align: center;
}

    .data-left {
      padding-top: 20px;
    }